<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>Học ngay</button>
        </div>
         <div class="col-lg-9">
            <h2>{{course.name}}</h2>
            <iframe width="942" height="530" src="https://www.youtube.com/embed/{{course.videoId}}" title="Mô hình Client - Server | Mô hình toàn bộ các websites sử dụng?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p>{{course.description}}</p>
        </div>
    </div>
</div>