<div class="search-form mt-4">

<form method="post"> 
     {{!-- form action thay đổi page submit  --}}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Search value</label>
    <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khóa">
  </div>

  <div class="mb-3">
    <label for="gt" class="gt-label">Search value</label>
    <select  name="gt" class="gt-control" id="gt-input">
        <option value="">-- Chọn giới tính--</option>
        <option value="male">Nam</option>
        <option value="female">Nữ</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>

